<div class="justify-content-between taskCard">

    <label class="taskCard__title view" for="">Preparar la cena</label>
    <label class="taskCard__description view"for="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </label>

    <input class="form-control edit" type="text">
    <input class="form-control edit" type="text">

    <div class="taskCard__info">

      <p class="infoTitle">Duracion: <span class="infoData view">1h</span> <input class="form-control form-control-sm edit" type="text"> </p>
      <p class="infoTitle">Estado: <span class="infoData view">Pendiente</span> <input class="form-control form-control-sm edit" type="text"> </p>
      <p class="infoTitle">Propietario: <span class="infoData view">Juan Posada</span> <input class="form-control edit" type="text"> </p>
    </div>

    <div class="row taskCard__buttons">

      <div class="col d-flex">
        <button type="button" 
                class="btn btn-warning btn-lg btn-block d-flex justify-content-center align-items-center flex-grow-1">
                <mat-icon>edit</mat-icon> Editar
        </button>
      </div>
      
      <div class="col d-flex">
        <button type="button" 
                class="btn btn-danger btn-lg btn-block d-flex justify-content-center align-items-center flex-grow-1">
                <mat-icon>delete</mat-icon> Borrar
        </button>
      </div>
    </div>
</div>
